<div class='footer'>

    <div class='footer__copyrights'>
    <div class="container">
        <div class='row'>
            <div class='col-12 col-lg-6 py-3'>
                <div class="row justify-content-center justify-content-sm-start">
                    <div class='footer__copyrights__logo col-12 col-sm-auto text-center text-sm-left'>
                        <img alt='Инжинириум МГТУ им. Н.Э.Баумана' src='https://inginirium.ru/img/logo_small.png?v=2' srcset='https://inginirium.ru/img/logo_small@2x.png 2x' width="174" height="31">
                    </div>
                    <div class='footer__copyrights__text col-12 col-sm text-center text-sm-left'>Все права защищены</div>
                </div>
            </div>
            
            <div class='footer_link_item col-12 d-block d-sm-none justify-content-center'>		
            <div class='footer_link_item_mobilewrap'>		
                Телефон: <b><a href='tel:+74951209975'>+7 (495) 120-99-75</a></b><br>
                Для СМИ: <b><a href='mailto:press@emtc.ru'>press@emtc.ru</a></b><br>
                Хотите работать у нас?<br>
                <b><a href='mailto:a@inginirium.ru'>a@inginirium.ru</a></b><br>
                <hr style='color: black;'>
                <div class='container' style='padding:0 10px;'>
                <div class='row justify-content-center'>
                    <div class='col-auto px-2'><a href='https://vk.com/inginirium'><img alt='ВКонтакте' style='height:30px;' src='/img/vk_logo.svg'></a></div>
                    <div class='col-auto px-2'><a href='https://www.youtube.com/channel/UCBx0xw9L-vvIkiNeCWrP75Q'><img alt='YouTube' src='/img/yt.png'></a></div>
                </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    </div>

    <div class='footer__links'>
    <div class="container">
        <div class="row justify-content-between">		
            <div class='footer_link_item col-12 col-sm-6 col-md-4 col-xl-auto d-none d-sm-block'>
                            <!-- <span class='footer_link_item_header'><a href='https://inginirium.ru/camps/'>ЛЕТНИЕ ПРОГРАММЫ</a></span><br> -->
                <span class='footer_link_item_header_long'><a href='https://inginirium.ru/docs/'>Сведения об <br>образовательной <Br>организации</a></span><br>
                <!-- <span class='footer_link_item_header'><a href='https://inginirium.ru/exam/'>ЭКЗАМЕН</a></span><br> -->
            </div>
            <div class='footer_link_item col-12 col-sm-6 col-md-4 col-xl-auto d-sm-block'>
                <span class='footer_link_item_header'><a href='https://franchise.inginirium.ru' target='_blank'>ФРАНШИЗА</a></span><br>
                
                <span class='footer_link_item_header_long'>
                    <a href='https://inginirium.ru/offer/'>
                        Оферта
                    </a>
                </span>

            </div>
            <div class='footer_link_item col-7 col-sm-6 col-md-4 col-xl-auto d-none d-sm-block'>
            
                <span class='footer_link_item_header'><a href='https://inginirium.ru/contacts/'>КОНТАКТЫ</a></span><br>
                Телефон: <b><a href='tel:+74951209975'>+7 (495) 120-99-75</a></b><br>
                Для СМИ: <b><a href='mailto:press@emtc.ru'>press@emtc.ru</a></b><br>
                Хотите работать у нас?<br>
                <b><a href='mailto:a@inginirium.ru'>a@inginirium.ru</a></b><br>
                <hr style='color: black;'>
                <div class='container' style='padding:0 10px;'>
                <div class='row justify-content-start'>
                    <div class='col-auto px-2'><a href='https://vk.com/inginirium'><img alt='ВКонтакте' style='height:30px;' src='/img/vk_logo.svg'></a></div>
                    <div class='col-auto px-2'><a href='https://www.youtube.com/channel/UCBx0xw9L-vvIkiNeCWrP75Q'><img alt='YouTube' src='/img/yt.png'></a></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</body>