<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#"> 
<head>

    <title>Инжинириум МГТУ им. Н.Э. Баумана - Курсы для детей и школьников</title>
    <meta name='Description' content='Курсы для детей и школьников в центре инновационного творчества и технопарке Инжинириум МГТУ им. Н.Э. Баумана: робототехника, 3d-моделирование, курс молодого инженера, программирование, ракетостроение, биомедицинские технологии, аэро, промышленный дизайн, схемотехника, инженерная графика'>
    <meta property='og:title' content='Курсы для детей и школьников в центре инновационного творчества и технопарке Инжинириум МГТУ им. Н.Э. Баумана: робототехника, 3d-моделирование, курс молодого инженера, программирование, ракетостроение, биомедицинские технологии, аэро, промышленный дизайн, схемотехника, инженерная графика' />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property='og:description' content='Сеть обучающих центров МГТУ им. Н.Э. Баумана для школьников'>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="//inginirium.ru/" />
    <meta property="og:site_name" content="Сеть обучающих центров МГТУ им. Н.Э. Баумана для школьников Инжинириум" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://inginirium.ru/img/ogimage.jpg">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">

    <meta name="keywords" content="Инжинириум">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='style.css')}}" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

</head>
<body>
<div class='wrap'>
	<div class='sm-header'>
		<div class='sm-header__burger'></div>
		<div class='sm-header__logo'></div>
	<a href='#'><div class='sm-header__buttons' data-toggle='modal' data-target='#mainCTA'></div></a>		
	</div>
	<div class='d-header'>
		<div class='container d-head'>
			<div class='row align-items-top'>
			<div class='col-sm-12 col-md pb-sm-4 pb-md-0'><div class='d-header__title'>Центр молодежного инновационного творчества и технопарк</div><div class='d-header__title_license'>Лицензия на осуществление образовательной деятельности № 040350 от 25.09.2019</div></div>
			<div class='col-sm-6 col-md col-lg-3 col-xl-2 d-header__region-selector p-0'>
			<form method='post'>
				<select class='cityselect' name='geocity' onchange='this.form.submit();'>
					<option value='mskm' selected>Москва</option>				</select></form>
				
								
				</div>
				<div class='col-sm-6 col-sm-4 col-md-3 d-header__cta text-sm-center text-md-right'><button type='button' data-toggle='modal' data-target='#mainCTA'>Записаться</button></div>			</div>
		</div>
		<div class='container d-menu'>
			<div class='row align-items-start'>
			<div class='col-sm-auto'><a href='https://inginirium.ru'><img alt='Инжинириум' src='https://inginirium.ru/img/inginirium.png'></a></div>
			<div class='container col-sm'>
			 <div class='row align-items-center d-menu__nav pr-3'>
				<a href='/about/' class='d-none d-md-block d-menu__item'>О нас</a>
				<a href='/courses/' class='d-menu__item'>Курсы</a>
		
		<a href='/master-classes/' class='d-menu__item' style='white-space: nowrap;'>Мастер-классы</a><a href='/technopark/' class='d-menu__item' style='white-space: nowrap;'>Технопарки</a>												<a href='/branches/' class='d-none d-md-block d-menu__item'>Сеть центров</a>

				<a class='d-menu__phone d-none d-xl-block' href='tel:+74951209975'>+7 (495) 120-99-75</a>
			 </div>
			</div>
			</div>
		</div>
	</div>